<div class="dropdown tag-container">
  <button tabindex="0"
          {% if actions %}role="button"{% endif %}
          type="button"
          style="{% if category.bg %}background: {{ category.bg }};
                 {% endif %} {% if category.fg %}color: {{ category.fg }};{% endif %}"
          class="btn {% if size == "xs" %}btn-xs{% elif size == "sm" %}btn-sm{% elif size == "lg" %}btn-lg{% else %}btn-md{% endif %}">
    <div class="inline-flex gap-1 items-center w-fit nowrap">
      {% if alias %}
        {% include "icons/feather.html" with icon="corner-down-right" %}
        <div class="font-bold">{{ alias.name }}</div>
        <div>{% include "icons/feather.html" with icon="arrow-right" %}</div>
      {% endif %}
      {% include "icons/feather.html" with icon="tag" %}
      <div>{{ tag.name }}</div>
    </div>
    <div>({{ tag.post_count }})</div>
    <input id="tag-{{ tag.pk }}"
           type="hidden"
           name="{{ tagset_name }}"
           value="{{ tag.pk }}" />
  </button>
  {% if actions %}
    <ul tabindex="-1"
        class="top-full mt-1 rounded-field tag-actions dropdown-content bg-base-300 text-base-content first:rounded-t-field last:rounded-b-field">
      {% for action in actions %}
        <li class="relative p-0 w-full font-bold hover:rounded-none min-w-25 group menu z-1 hover:bg-accent hover:text-accent-content">
          {% if action.name == "search" %}
            <a href='{% url "posts" %}?tag={{ tag.pk }}'
               class="btn {% if size %}btn-{{ size }}{% endif %} justify-start hover:rounded-none link link-hover">{{ action.name }}</a>
          {% else %}
            <button type="button"
                    data-action="{{ action.name }}"
                    class="btn {% if size %}btn-{{ size }}{% endif %} justify-start hover:rounded-none">
              {{ action.name }}
            </button>
          {% endif %}
          <aside class="hidden absolute top-0 left-full p-1 min-h-full text-sm rounded-none group-hover:block min-w-30 h-content bg-info text-info-content">
            {{ action.desc }}
          </aside>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
