{% load component_tags %}

<dialog id="modal_form_dialog"
        closedby="any"
        class="shadow-lg modal modal-middle">
  <div class="flex flex-col gap-3 modal-box bg-base-300">
    <div class="absolute top-2 right-2 m-0 modal-action">
      <form method="dialog">
        <button class="btn btn-error btn-square btn-soft">{% include "icons/feather.html" with icon="x" %}</button>
      </form>
    </div>
    <h2 class="px-4 w-full text-wrap-normal">{{ title }}</h2>
    <form class="flex relative flex-col"
          hx-indicator="#modal-form-spinner"
          hx-target="#modal-form-messages"
          hx-swap="innerHTML"
          hx-post="{{ action_url }}">
      {% csrf_token %}
      <div>{% slot "body" required %}{% endslot %}</div>
      <div class="flex gap-3 items-center place-self-end">
        <div id="modal-form-spinner"
             class="htmx-indicator loading loading-spinner size-20 text-info"></div>
        <button class="my-2 capitalize btn btn-lg btn-primary" type="submit">{{ submit_btn_text|default:'submit' }}</button>
      </div>
      {% partialdef modal-form-message inline %}
      <!-- Messages for success or failure after form submission -->
      <div id="modal-form-messages" class="h-fit"></div>
    {% endpartialdef modal-form-message %}
  </form>
</div>
</dialog>
