{% load component_tags %}

<div class="{% if hidden %}hidden{% endif %} relative flex-grow lg:w-96 search-container">
  <label class="flex relative items-center">
    <div class="absolute left-2 z-5">{% include "icons/feather.html" with icon="search" %}</div>
    <input type="search"
           name="q"
           autocorrect="off"
           spellcheck="false"
           autocomplete="off"
           class="w-full rounded-none focus:border-none focus:shadow-none focus:outline-none ps-8 input grow f-full"
           placeholder="Search tags..."
           hx-get='{% url "autocomplete" %}'
           hx-include="next input[name='partial']"
           hx-trigger="input delay:500ms, keyup[key=='Enter']"
           hx-target="next .result-container" />
    <input type="hidden" name="partial" />
  </label>
  <div class="absolute top-full z-50 mt-1 w-full result-container"></div>
</div>
