{% load component_tags %}

<a class="relative skeleton post-thumbnail group/post w-[400px] h-[400px]"
   href="{% url "post" media_id=post.media.id %}">
  <img class="object-cover invisible w-full h-full rounded-md"
       loading="lazy"
       src="{{ post.media.image.file.url }}"
       alt="image" />
  <div class="flex hidden absolute top-0 flex-col justify-between p-2 w-full h-full post-thumbnail-hover group-hover/post:flex">
    <section class="flex gap-1 self-end">
      <button class="flex align-center btn btn-secondary">
        <div>Favorite</div>
        <i data-feather="heart" class="feather feather-sm"></i>
      </button>
      <button class="btn btn-secondary">
        <div>Add to collection</div>
        <i data-feather="list" class="feather feather-sm"></i>
      </button>
    </section>
    <section class="flex flex-wrap gap-1 text-sm">
      {% for tag in tags %}
        {% component "tag" tag=tag / %}
      {% endfor %}
    </section>
  </div>
</a>
