# See a complete list of the available settings in the project documentation
# at https://tesys-tagboard.readthedocs.io/en/latest/configuration/settings.html
#
# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=admin
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,localhost:11611
DJANGO_TITLE="Tagboard Local"

# Debugging
# ------------------------------------------------------------------------------
DJANGO_DEBUG=True
DJANGO_SILKY_PYTHON_PROFILER=False
DJANGO_DEBUG_TOOLBAR=True

# Authentication and registration
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
DJANGO_EMAIL_VERIFICATION=optional

# Third-party accounts
# ------------------------------------------------------------------------------
DJANGO_DISCORD_CLIENT_ID=
DJANGO_DISCORD_CLIENT_SECRET=
DJANGO_DISCORD_CLIENT_PUBLIC_KEY=

# Email
# ------------------------------------------------------------------------------
# Tesy's Tagboard supports email either via SMTP, Mailgun, or Mailtrap
# Configure only ONE of the email deliver options below. If you choose to disallow
# email registration you may ignore this section.

# SMTP
DJANGO_SERVER_EMAIL=noreply@example.com
DJANGO_EMAIL_HOST=mailpit
DJANGO_EMAIL_PORT=1025
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_DEFAULT_FROM_EMAIL="Tesy's Tagboard <noreply@example.com>"

# Mailtrap config
MAILTRAP_API_TOKEN=
MAILTRAP_SANDBOX_ID=

# Mailgun config
MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
MAILGUN_API_URL=
