<ul class="absolute top-full p-0 w-full ms-0 menu bg-base-200">
  {% if error %}
    <div class="flex flex-row gap-2 items-center p-2 text-base font-bold bg-error text-error-content">
      <div>{% include "icons/feather.html" with icon="alert-circle" size="lg" %}</div>
      <div>{{ error }}</div>
    </div>
  {% endif %}
  {% for item in items %}
    {% if item.name %}
      <li data-id="{{ item.tag_id }}"
          data-name="{{ item.name }}"
          data-search_token="{{ item.get_search_token_string }}"
          tabindex="-1"
          style="{% if item.tag_category.bg %}background: {{ item.tag_category.bg }};
                 {% endif %} {% if item.tag_category.fg %}color: {{ item.tag_category.fg }};{% endif %}"
          class="max-w-full rounded-none border-b-0 focus:font-bold focus:outline-none border-1 border-neutral/80 text-tag-content {% if item.token_category.name == "TAG" or item.token_category.name == "TAG_ALIAS" %}bg-tag-default{% else %}bg-filter-func{% endif %} last:border-b-1 hover:brightness-115 focus:brightness-115">
        <div class="flex justify-between max-h-8 rounded-none">
          <div class="inline-flex overflow-hidden gap-2 items-center grow-0 max-w-9/10 h-fit min-h-10">
            {% if item.alias %}
              <div>{% include "icons/feather.html" with icon="corner-down-right" %}</div>
            {% elif item.token_category.name == "TAG" %}
              <div>{% include "icons/feather.html" with icon="tag" %}</div>
            {% else %}
              <div>{% include "icons/feather.html" with icon="filter" %}</div>
            {% endif %}
            <div class="flex flex-wrap gap-1 items-center leading-none">
              {% if item.alias %}
                <div>{{ item.alias }}</div>
                {% include "icons/feather.html" with icon="arrow-right" %}
                {% if item.token_category.name == "TAG" or item.token_category.name == "TAG_ALIAS" %}
                  {% include "icons/feather.html" with icon="tag" %}
                {% else %}
                  {% include "icons/feather.html" with icon="filter" %}
                {% endif %}
                <div>{{ item.get_tag_label }}</div>
              {% else %}
                {{ item.get_tag_label }}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="flex absolute right-2 h-full lg:right-4">{{ item.extra }}</div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
