<dialog id="modal_form_dialog"
        closedby="any"
        class="shadow-lg modal modal-middle">
  <div class="flex flex-col gap-3 modal-box bg-base-300">
    <div class="absolute top-2 right-2 m-0 modal-action">
      <form method="dialog">
        <button class="btn btn-error btn-square btn-soft">{% include "icons/feather.html" with icon="x" %}</button>
      </form>
    </div>
    <h2 class="px-4 w-full text-wrap-normal">{{ title }}</h2>
    {% partialdef form-body inline %}
    <form id="modal-form"
          class="flex relative flex-col"
          hx-indicator="#modal-form-spinner"
          hx-swap="outerHTML"
          hx-post="{{ action_url }}">
      {% csrf_token %}
      {{ form.as_div }}
      <!-- Messages for success or failure after form submission -->
      {% if modal_messages %}
        {% include "messages/message_list.html" with messages=modal_messages %}
      {% endif %}
    </form>
  {% endpartialdef %}
  <button class="flex justify-center my-2 capitalize btn btn-lg btn-primary"
          type="submit"
          form="modal-form">
    <div class="flex relative items-center">
      <div>{{ submit_btn_text|default:'submit' }}</div>
      <div class="absolute -right-9 w-6 aspect-square">
        <div id="modal-form-spinner"
             class="htmx-indicator loading loading-spinner size-10 text-info"></div>
      </div>
    </div>
  </button>
</div>
</dialog>
