<div class="relative">
  <input class="w-full input required:border-accent required:border-2 pe-10"
         type="password"
         name="{{ widget.name }}"
         {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
         {% include "django/forms/widgets/attrs.html" %} />
  <div class="flex absolute top-0 z-10 items-center h-full end-2">
    <div class="password-hidden-icon">{% include "icons/feather.html" with icon="eye-off" %}</div>
    <div class="hidden password-shown-icon">{% include "icons/feather.html" with icon="eye" %}</div>
  </div>
</div>
<script>
  (function() { // Self invoking function to avoid variable clashing
    const input_query = "input[type='password'][name='{{widget.name}}']"
    const password_input = document.querySelector(input_query);
    const password_hidden_icon = document.querySelector(`${input_query} + div .password-hidden-icon`);
    const password_show_icon = document.querySelector(`${input_query} + div .password-shown-icon`);
    const hide_password_icon_classes = ["hidden"];
    let password_icons = [password_hidden_icon, password_show_icon];

    const show_icon = (icon) => {
      icon.classList.remove("hidden");
      icon.classList.add("block");
    }

    const hide_icon = (icon) => {
      icon.classList.add("hidden");
      icon.classList.remove("block");
    }

    password_icons.forEach((icon) => {
      icon.addEventListener("click", e => {
        if (e.currentTarget == password_hidden_icon) {
          show_icon(password_show_icon);
          hide_icon(password_hidden_icon);
          password_input.setAttribute("type", "text");
        } else if (e.currentTarget == password_show_icon) {
          show_icon(password_hidden_icon);
          hide_icon(password_show_icon);
          password_input.setAttribute("type", "password");
        }
      });
    });
  })();
</script>
