# See a complete list of the available settings in the project documentation
# at https://tesys-tagboard.readthedocs.io/en/latest/configuration/settings.html
#
# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=tesys_tagboard
POSTGRES_USER=
POSTGRES_PASSWORD=
