{% load static i18n tailwind_tags component_tags custom_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}"
      data-theme="{{ request.session.theme|default:DEFAULT_THEME }}"
      class="xl:overflow-x-auto overflow-x-clip touch-manipulation">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {% get_title as title %}
    <title>
      {% block title %}
        {{ title }}
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="A self-hosted Booru and media tagging application" />
    {% block extra_meta %}
    {% endblock extra_meta %}
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% tailwind_preload_css %}
    {% tailwind_css %}
    {% block css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block javascript %}
      <!-- Third-party javascript libraries go here -->
      <script src="{% static 'js/vendor/htmx/htmx-2.0.8.min.js' %}"></script>
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <nav id="#top"
       class="flex justify-between px-2 navbar bg-primary text-primary-content shadow-sm h-6!">
    <div class="flex">
      <div class="text-left dropdown">
        <div tabindex="0" role="button" class="lg:hidden btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="w-5 h-5"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="-1"
            class="z-50 p-2 mt-3 shadow-xl ms-0 menu menu-xl dropdown-content bg-base-300 text-base-content rounded-box border-info">
          {% include "nav/navbar_links.html" %}
        </ul>
      </div>
      <a class="overflow-hidden text-3xl md:ml-4 font-heading link text-nowrap link-hover shrink max-w-[70dvw]"
         href="{% url 'home' %}">{{ title }}</a>
    </div>
    <div class="hidden lg:flex navbar-center shrink">
      <ul class="flex gap-4 px-1 text-lg list-none">
        {% include "nav/navbar_links.html" %}
      </ul>
    </div>
    <div class="absolute right-0 md:static">{% component "theme_picker" %}{% endcomponent %}</div>
  </nav>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
        class="flex flex-col max-w-screen overflow-clip xl:overflow-x-visible min-h-screen {% block bodyclass %}{% endblock bodyclass %}">
    {% comment %} need to add main.relative container for back-to-top btn {% endcomment %}
    <main class="relative grow">
      <!-- Input for global search from tag widget popup -->
      <input id="tagSearchForm"
             class="hidden"
             type="hidden"
             action="{% url "posts" %}"
             method="post" />
      {% block body %}
        {% if messages %}
          <div class="flex z-10 flex-col gap-2 px-4 pt-4 w-full">
            {% for message in messages %}
              <div class="django-message flex justify-between items-center text-wrap text-xl alert alert-info alert-soft {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                <div>{{ message.message }}</div>
                <div class="flex gap-2 items-center">
                  <button type="button"
                          class="btn-close btn btn-sm btn-error"
                          data-bs-dismiss="alert"
                          aria-label="Close">{% include "icons/feather.html" with size="lg" icon="x" %}</button>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% block main %}
          <div class="p-2 m-auto md:p-3 lg:p-8 max-w-8xl">
            {% block content %}
            {% endblock content %}
          </div>
        {% endblock main %}
      {% endblock body %}
      {% block modal %}
      {% endblock modal %}
      {% block inline_javascript %}
      {% endblock inline_javascript %}
      <div class="back-to-top-wrapper size-full">
        <a id="back-to-top-btn"
           href="#top"
           class="z-50 m-2 rounded-full border-2 lg:hidden back-to-top-link btn btn-xl btn-secondary bg-secondary/90 btn-square">
          {% include "icons/feather.html" with icon="arrow-up" %}
        </a>
      </div>
    </main>
    <footer class="flex flex-wrap gap-8 justify-start p-4 mt-12 border-t-4 md:p-8 lg:justify-center lg:p-12 bg-base-200 border-t-accent/50 text-base-content/85 shrink">
      <section>
        <h4 class="text-xl">About</h4>
        <ul class="grid grid-cols-1 gap-1 m-2 list-none">
          <li>
            <a href="https://github.com/cblanken/tesys-tagboard">Source Code</a>
          </li>
          <li>
            <a href="https://tesys-tagboard.readthedocs.io/en/latest/">Documentation</a>
          </li>
          <li>
            <a href={% url 'api-1.0.0:openapi-view' %}>API</a>
          </li>
          <li>
            <a href="https://github.com/cblanken/tesys-tagboard/blob/main/LICENSE">License</a>
          </li>
        </ul>
      </section>
      <section class="grid grid-cols-1">
        <p>
          Tesy's Tagboard was made with <span class="px-1">{% include "icons/feather.html" with icon="heart" %}</span> by <a href="https://github.com/cblanken">cblanken</a> and all of the project's <a href="https://github.com/cblanken/tesys-tagboard/blob/main/CONTRIBUTORS.txt">contributors</a>.
      </p>
      <div>
        <p>
          Tesy's Tagboard © <a href="https://github.com/cblanken">cblanken</a> and <a href="https://github.com/cblanken/tesys-tagboard/blob/main/CONTRIBUTORS.txt">contributors</a> 2025–{% now "Y" %}
        </p>
        <p>Media © to their respective creators</p>
      </div>
    </section>
    <section class="grow">
      <h4 class="text-sm text-neutral-content/80"></h4>
    </section>
  </footer>
</body>
</html>
