{% load static i18n tailwind_tags component_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}"
      data-theme="default"
      class="xl:overflow-x-auto overflow-x-clip touch-manipulation">
  <script>
    // Apply theme picker setting
    let theme = window.localStorage.getItem("theme");
    if (theme) {
      document.querySelector("html").setAttribute("data-theme", theme);
    };
  </script>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Tesy's Tagboard
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="A self-hosted Booru and media tagging application" />
    {% block extra_meta %}
    {% endblock extra_meta %}
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% tailwind_preload_css %}
    {% tailwind_css %}
    {% block css %}
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block javascript %}
      <!-- Third-party javascript libraries go here -->
      <script src="{% static 'js/vendor/htmx/htmx-2.0.8.min.js' %}"></script>
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <nav class="flex justify-between px-2 navbar bg-primary text-primary-content shadow-sm !h-6">
    <div class="flex">
      <div class="text-left dropdown">
        <div tabindex="0" role="button" class="lg:hidden btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="w-5 h-5"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="-1"
            class="z-50 p-2 mt-3 shadow-xl ms-0 menu menu-xl dropdown-content bg-base-300 text-base-content rounded-box border-info">
          {% include "nav/navbar_links.html" %}
        </ul>
      </div>
      <a class="text-2xl btn btn-ghost" href="{% url 'home' %}">Tesy's Tagboard</a>
    </div>
    <div class="hidden lg:flex navbar-center">
      <ul class="px-1 text-lg menu menu-horizontal">
        {% include "nav/navbar_links.html" %}
      </ul>
    </div>
    <div>{% component "theme_picker" %}{% endcomponent %}</div>
  </nav>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
        class="max-w-screen overflow-x-clip xl:overflow-x-visible min-h-screen {% block bodyclass %}{% endblock bodyclass %}">
    <!-- Form for global search from tag widget popup -->
    <input id="tagSearchForm"
           class="hidden"
           type="hidden"
           action="{% url "posts" %}"
           method="post" />
    {% block body %}
      {% if messages %}
        <div class="flex z-10 flex-col gap-2 px-4 pt-4 w-full">
          {% for message in messages %}
            <div class="django-message flex justify-between items-center text-wrap text-xl alert alert-info alert-soft {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              <div>{{ message.message }}</div>
              <div class="flex gap-2 items-center">
                <button type="button"
                        class="btn-close btn btn-sm btn-error"
                        data-bs-dismiss="alert"
                        aria-label="Close">{% include "icons/feather.html" with size="lg" icon="x" %}</button>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% block main %}
        <div class="p-3 m-auto lg:p-8 max-w-[1700px]">
          {% block content %}
          {% endblock content %}
        </div>
      {% endblock main %}
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
    <a id="back-to-top-btn"
       href="#top"
       class="hidden fixed bottom-2 left-2 z-50 rounded-full border-2 lg:hidden btn btn-xl btn-secondary bg-secondary/90 btn-square">
      {% include "icons/feather.html" with icon="arrow-up" %}
    </a>
    <div id="bottom-of-screen-threshold"
         class="absolute top-0 w-full h-[250dvh] -z-1"></div>
  </body>
</html>
