{% extends 'account/base_entrance.html' %}

{% load allauth account i18n %}

{% block head_title %}
  {% trans 'Sign In' %}
{% endblock head_title %}
{% block content %}
  {% if not SOCIALACCOUNT_ONLY %}
    <form method="post" action="{% url 'account_login' %}" class="form">
      {% csrf_token %}
      <h1 class="text-center">{% translate 'Log In to your account' %}</h1>
      {% if form.non_field_errors %}
        {% include "django/forms/errors/list/default.html" with errors=form.non_field_errors %}
      {% endif %}
      <!-- username -->
      {{ form.login.label }}
      {{ form.login }}
      <div>{{ form.login.errors }}</div>
      <!-- password -->
      {{ form.password.label }}
      {{ form.password }}
      <div>{{ form.password.errors }}</div>
      <!-- Remember me and forgot password -->
      <div class="flex justify-between items-center">
        <div class="flex gap-2 items-center">
          {{ form.remember }}
          {{ form.remember.label }}
        </div>
        <a href="{% url 'account_reset_password' %}" class="text-sm">{% translate 'Forgot password?' %}</a>
      </div>
      <div>{{ form.remember.errors }}</div>
      <!-- submit -->
      <button type="submit" class="w-full btn btn-lg btn-primary">Log In</button>
      {% if SOCIALACCOUNT_ENABLED %}
        {% include 'socialaccount/snippets/login.html' with page_layout='entrance' %}
      {% endif %}
      <p class="text-sm text-center">
        {% url "account_signup" as account_signup_url %}
        {% blocktranslate %}
        If you haven't created an account yet, then please <a href={{ account_signup_url }}>sign up</a> first.
        {% endblocktranslate %}
      </p>
    </form>
  {% endif %}
{% endblock content %}
{% block extra_body %}
  {{ block.super }}
  {% if PASSKEY_LOGIN_ENABLED %}
    {% include 'mfa/webauthn/snippets/login_script.html' with button_id='passkey_login' %}
  {% endif %}
{% endblock extra_body %}
