{% extends 'account/base_manage.html' %}

{% load allauth i18n %}

{% block head_title %}
  {% translate 'Log Out' %}
{% endblock head_title %}
{% block content %}
  <div class="grid justify-center content-center pt-20 w-full">
    <form method="post"
          action="{% url 'account_logout' %}"
          class="flex flex-col gap-4 justify-center p-8 w-full h-full md:max-w-3xl bg-base-300 rounded-box">
      {% csrf_token %}
      {{ redirect_field }}
      <h1 class="font-bold text-center text-base-accent">{% translate 'Log Out' %}</h1>
      <p class="py-2 text-lg text-center">{% translate 'Are you sure you want to log out?' %}</p>
      <button type="submit" class="btn btn-lg btn-error">{% translate 'Log Out' %}</button>
    </form>
  </div>
{% endblock content %}
