{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
  {% include "heading.html" with text=_("Password Reset") %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  {% comment %} {% element p %}
    {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
  {% endelement %} {% endcomment %}
  <div class="flex justify-center min-h-screen pt-[10vh]">
    <form method="post"
          action="{% url 'account_reset_password' %}"
          class="flex flex-col gap-4 p-8 mt-3 max-w-3xl h-full lg:w-1/2 rounded-box bg-base-300 sm:min-w-[450px] lg:max-w-[800px]">
      {% csrf_token %}
      {{ redirect_field }}
      {% if form.errors %}<div class="text-error">{{ form.errors }}</div>{% endif %}
      <p class="mb-6 text-lg font-bold text-center text-base-accent">
        We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
      </p>
      <!-- Back to LogIn -->
      <a href="{% url 'account_login' %}"
         class="py-2 px-4 mt-4 text-center text-white rounded-lg border-b-0 transition bg-primary hover:bg-primary/80">
        Back to login page
      </a>
    </form>
  </div>
{% endblock content %}
