{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth %}
{% load account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <div class="flex justify-center">
    <form method="post"
          action="{% url 'account_reset_password' %}"
          class="flex flex-col gap-4 p-8 w-full h-full md:max-w-lg rounded-box bg-base-300">
      {% csrf_token %}
      {{ redirect_field }}
      {% if form.errors %}<div class="text-error">{{ form.errors }}</div>{% endif %}
      <div class="grid gap-4 mb-6 text-lg font-bold text-center">
        {% blocktranslate %}
        <p>Your password email has been sent!</p>
        <p>If don't receive it within a few minutes please check your spam folder. Otherwise contact the administrator directly.</p>
        {% endblocktranslate %}
      </div>
      <!-- Back to Login -->
      <a href="{% url 'account_login' %}" class="link link-primary">{% translate 'Back to login page' %}</a>
    </form>
  </div>
{% endblock content %}
