{% extends 'account/base_entrance.html' %}

{% load allauth account i18n %}

{% block head_title %}
  {% trans 'Signup' %}
{% endblock head_title %}
{% block content %}
  {% if not SOCIALACCOUNT_ONLY %}
    <form method="post" action="{% url 'account_signup' %}" class="form">
      {% csrf_token %}
      <h1 class="text-center">{% translate 'Signup' %}</h1>
      {% if form.non_field_errors %}
        {% include "django/forms/errors/list/default.html" with errors=form.non_field_errors %}
      {% endif %}
      <!-- Username -->
      <div>
        <label>Username</label>
        <input required
               type="text"
               name="username"
               class="w-full input"
               placeholder="Enter your username" />
      </div>
      <div>{{ form.username.errors }}</div>
      <!-- Email -->
      <div>
        <label>Email</label>
        <input required
               type="email"
               name="email"
               class="w-full input"
               placeholder="example@email.com" />
      </div>
      <div>{{ form.email.errors }}</div>
      <!-- Password -->
      <div>
        <label>Password</label>
        <input required
               type="password"
               name="password1"
               class="w-full input"
               placeholder="Enter your password" />
      </div>
      <div>{{ form.password1.errors }}</div>
      <!-- Confirm Password -->
      <div>
        <label>Confirm Password</label>
        <input required
               type="password"
               name="password2"
               class="w-full input"
               placeholder="Confirm your password" />
      </div>
      <div>{{ form.password2.errors }}</div>
      <!-- Submit -->
      <button type="submit" class="btn btn-lg btn-primary">Sign Up</button>
    {% endif %}
    <!-- Social account login -->
    {% if SOCIALACCOUNT_ENABLED %}
      {% include 'socialaccount/snippets/login.html' with page_layout='entrance' %}
    {% endif %}
    <p class="py-2 text-sm text-center">
      {% translate 'Already have an account?' %}
      <a href="{% url 'account_login' %}">{% translate 'Log in' %}</a>
    </p>
  </form>
{% endblock content %}
