{% load i18n %}

<div class="p-4 w-full rounded-box bg-base-300 lg:w-125">
  <h2>{% translate 'Create a tag' %}</h2>
  <form class="flex flex-wrap gap-2 w-full"
        id="create-tag"
        action="{% url "create-tag" %}"
        method="post">
    {% csrf_token %}
    <fieldset class="w-full fieldset">
      <legend class="fieldset-legend">
        {% translate 'Tag name' %}<span class="text-warning">*</span>
      </legend>
      <input type="text"
             class="w-full input"
             name="name"
             placeholder="{% translate 'Tag name' %}" />
    </fieldset>
    <fieldset class="w-full fieldset">
      <legend class="fieldset-legend">{% translate 'Category' %}</legend>
      <select class="w-full select" name="category">
        <option disabled selected>{% translate 'Pick a category' %}</option>
        {% for category in categories %}<option value="{{ category.pk }}">{{ category.name|capfirst }}</option>{% endfor %}
      </select>
    </fieldset>
    <fieldset class="w-full fieldset">
      <legend class="fieldset-legend">{% translate 'Rating (optional)' %}</legend>
      <select class="w-full select" name="rating_level">
        <option disabled selected>{% translate 'Pick a rating level' %}</option>
        {% for rating_level in rating_levels %}
          <option value="{{ rating_level.value }}">{{ rating_level.name }} ({{ rating_level.value }})</option>
        {% endfor %}
      </select>
    </fieldset>
    <input type="submit"
           value="Post"
           class="my-2 w-full text-xl btn btn-primary" />
    {% if form.errors %}
      <div role="alert" class="alert alert-error">
        {% include "icons/feather.html" with icon="alert-circle" %}
        {{ form.errors }}
      </div>
    {% endif %}
  </form>
</div>
