{% load custom_filters %}

<div class="dropdown">
  <button tabindex="0"
          role="button"
          class="{% if size == "small" %}btn-sm{% elif size == "large" %}btn-lg{% endif %} px-3 py-1 btn btn-secondary">
    <div class="flex gap-1 items-center text-nowrap">
      {% include "icons/feather.html" with icon="list" %}
      <div>Add to collection</div>
    </div>
  </button>
  {% if collections %}
    <ul tabindex="-1"
        class="top-full mt-1 rounded-lg first:rounded-t-lg last:rounded-b-lg dropdown-content bg-base-300 text-base-content">
      {% for collection in collections %}
        <div hx-on="click"
             hx-swap="innerHTML"
             hx-include="#post-{{ post.pk }}-collection-{{ collection.pk }} input"
             hx-target="#post-{{ post.pk }}-collection-{{ collection.pk }}"
             {% if post.pk in post_ids_by_collection|get_item:collection.pk %} hx-post="{% url 'collection-remove-post' collection_id=collection.pk %}" {% else %} hx-post="{% url 'collection-add-post' collection_id=collection.pk %}" {% endif %}>
          <input name="collection-edit" type="hidden" />
          {% if post.pk in post_ids_by_collection|get_item:collection.pk %}
            {% include "collections/picker_item.html" with collection=collection post=post checked=True %}
          {% else %}
            {% include "collections/picker_item.html" with collection=collection post=post %}
          {% endif %}
        </div>
      {% endfor %}
    </ul>
  {% endif %}
</div>
