{% load humanize custom_filters %}

<div data-comment="{{ comment.pk }}"
     class="p-2 border-2 border border-info bg-base-200">
  <input type="hidden" name="comment-id" />
  <div class="flex justify-between">
    <div class="flex">{% include "nav/user_link.html" with user=comment.user %}</div>
    <div class="flex gap-2 items-center text-sm italic opacity-60">
      {% with edit_timestamp=comment.edit_date.timestamp|to_int post_timestamp=comment.post_date.timestamp|to_int %}
        {% if edit_timestamp != post_timestamp %}
          <div class="font-bold opacity-80">(edited {{ comment.edit_date|naturaltime }})</div>
        {% endif %}
      {% endwith %}
      <div>{{ comment.post_date|naturaltime }}</div>
    </div>
  </div>
  <div>
    <div class="px-1 my-2 w-full">
      <div class="comment-text">{{ comment.text }}</div>
      <form class="hidden comment-edit-form">
        <input type="hidden" name="comment_id" value="{{ comment.pk }}" />
        <textarea maxlength="1000"
                  name="text"
                  class="w-full text-base text-wrap h-30 input textarea max-h-100 focus:input-secondary">{{comment.text}}</textarea>
        <div class="flex gap-1 items-center">
          <button hx-post="{% url 'post-edit-comment' %}"
                  hx-include="inherit, [name='text']"
                  hx-target="[data-comment='{{ comment.pk }}']"
                  hx-swap="outerHTML"
                  hx-confirm="Are you sure you want to update this post?"
                  class="inline-flex items-center mt-2 comment-edit-submit btn btn-sm btn-success"
                  type="submit">
            {% include "icons/feather.html" with icon="check-square" %}
            <div>Confirm</div>
          </button>
          <button type="button"
                  class="inline-flex items-center mt-2 ml-1 comment-edit-cancel btn btn-sm btn-error">
            {% include "icons/feather.html" with icon="x-square" %}
            <div>Cancel</div>
          </button>
        </div>
      </form>
    </div>
    {% if request.user == comment.user %}
      <div class="flex gap-2 place-self-end">
        <form action=""
              class="comment-edit-mode-form"
              id="comment-edit-mode-{{ comment.pk }}">
          <label class="flex gap-2 btn btn-sm btn-warning"
                 form="comment-edit-mode-{{ comment.pk }}"
                 for="comment-edit-mode-toggle-{{ comment.pk }}">
            <div>{% include "icons/feather.html" with icon="edit" %}</div>
            <div>Edit</div>
            <input id="comment-edit-mode-toggle-{{ comment.pk }}"
                   hidden
                   form="comment-edit-mode-{{ comment.pk }}"
                   name="edit-mode-enabled"
                   type="checkbox" />
          </label>
        </form>
        <form>
          {% csrf_token %}
          <input type="hidden" name="comment_id" value="{{ comment.pk }}" />
          <button type="submit"
                  class="flex gap-1 items-center btn btn-sm btn-error"
                  hx-post="{% url 'post-delete-comment' %}"
                  hx-target="#post-comments"
                  hx-swap="innerHTML"
                  hx-confirm="Are you sure you want to delete this comment?">
            <div>{% include "icons/feather.html" with icon="trash" %}</div>
            <div>Delete</div>
          </button>
        </form>
      </div>
    {% endif %}
  </div>
</div>
