<div class="grid grid-cols-1 gap-1">
  {% if field.use_fieldset %}
    <fieldset class="fieldset"
              {% if field.aria_describedby %}aria-describedby="{{ field.aria_describedby }}"{% endif %}>
      {% if field.label %}{{ field.legend_tag }}{% endif %}
    {% else %}
      {% if field.label %}
        <span class="text-sm text-base-content/80">{{ field.label }}
          {% if field.required %}<span class="px-1 text-info">*</span>{% endif %}
        </span>
      {% endif %}
    {% endif %}
    {% if field.help_text %}
      <div class="helptext"
           {% if field.auto_id %}id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>
    {% endif %}
    {{ field }}
    {% if field.errors %}
      <div class="px-2 font-bold bg-error text-error-content">
        {% for error in field.errors %}{{ error }}{% endfor %}
      </div>
    {% endif %}
    {% if field.use_fieldset %}</fieldset>{% endif %}
</div>
