{% load component_tags %}

<div id="tags-container" class="flex flex-col gap-8">
  <section class="flex flex-col gap-4">
    {% for cat, tags in tags_by_cat.items %}
      {% if tags %}
        <h3 class="text-3xl font-bold not-last:divider not-last:divider-start">{{ cat.name|capfirst }}</h3>
        <div>
          <div class="flex flex-wrap gap-2">
            {% for tag in tags %}
              {% component "tag" tag=tag / %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>
</div>
