{% load component_tags i18n %}

<div id="tags-container" class="flex flex-col gap-8">
  <section class="flex flex-col gap-4">
    <div class="flex flex-wrap gap-2">
      {% for tag in uncategorized_tags %}
        {% component "tag" tag=tag / %}
      {% endfor %}
    </div>
  </section>
  <h2 id="tag-categories"
      class="mt-10 mb-0 text-5xl tracking-wider h-fit divider upper">{% translate "Tag Categories" %}</h2>
  <section class="flex flex-col">
    {% for tag_path, tags in tags_by_cat.items %}
      <div class="divider"></div>
      <div class="flex flex-wrap gap-4 items-center mb-4 md:mb-6">
        <h3 class="overflow-x-auto m-0 text-2xl font-bold text-wrap overflow-y-clip h-fit">{{ tag_path }}</h3>
        <div class="flex gap-2 items-center">
          {% if perms.tesys_tagboard.change_tagcategory %}
            <button hx-get="{% url 'update-tag-category' tag_category_id=tags.0.category.pk %}"
                    hx-target="#modal_form_wrapper"
                    hx-swap="innerHTML"
                    class="btn btn-warning btn-lg btn-soft">
              <span class="md:block">{% translate "Edit" %}</span>
              {% include "icons/feather.html" with icon="edit" %}
            </button>
          {% endif %}
          {% if perms.tesys_tagboard.delete_tagcategory %}
            <button hx-get="{% url 'delete-tag-category' tag_category_id=tags.0.category.pk %}"
                    hx-target="#modal_form_wrapper"
                    hx-swap="innerHTML"
                    class="btn btn-error btn-lg btn-soft">
              <span class="md:block">{% translate "Delete" %}</span>
              {% include "icons/feather.html" with icon="x" %}
            </button>
          {% endif %}
        </div>
      </div>
      <div>
        <div class="flex flex-wrap gap-2">
          {% for tag in tags %}
            {% component "tag" tag=tag / %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </section>
</div>
