{% extends "account/base_entrance.html" %}

{% load static component_tags %}

{% block title %}
  User:
  {{ object.username }}
{% endblock title %}
{% block content %}
  {% include "heading.html" with text="PROFILE" %}
  <div class="w-full xl:max-w-screen">
    <div class="tabs">
      <label id="account-tab" class="flex gap-2 items-center text-lg tab group">
        <input type="radio"
               name="profile_tabs"
               value="account"
               {% if not tab or tab == "account" %}checked{% endif %} />
        <div class="flex gap-2 items-center">
          {% include "icons/feather.html" with icon="user" %}
          <div class="hidden sm:block group-has-[input:checked]:block">Account</div>
        </div>
      </label>
      <div class="p-6 rounded-none tab-content lg:bg-base-200">
        <div>
          <div>
            <h2>{{ user.username }}</h2>
            {% if user.name %}<p>{{ user.name }}</p>{% endif %}
          </div>
        </div>
        {% if user == request.user %}
          <!-- Action buttons -->
          <div>
            <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
            <a class="btn btn-primary"
               href="{% url 'account_email' %}"
               role="button">E-Mail</a>
            <a class="btn btn-primary" href="{% url 'mfa_index' %}" role="button">MFA</a>
          </div>
          <!-- End Action buttons -->
          <div>
            <h2 class="py-4 upper">Settings</h2>
            <div class="grid grid-cols-2 gap-4">
              <div class="p-4 bg-base-300 rounded-box tooltip"
                   data-tip="Posts with the following tags will not appear in searches by default. To show posts with these tags, the tags must be explicitly given as one of the target tags in the search query.">
                <label>
                  <div class="text-lg italic opacity-60">Filter Tags</div>
                  {% component "add_tagset" tags=user.filter_tags.all tagset_name="filter_tags" add_tag_enabled=True post_url="users:edit-settings" post_args=user.username / %}
                </label>
              </div>
              <div class="p-4 bg-base-300 rounded-box tooltip"
                   data-tip="Posts with the following tags will be blurred by default. Blurred posts can be seen by hovering over their thumbnail with the mouse or navigating to the related post's page.">
                <label>
                  <div class="text-lg italic opacity-60">Blur Tags</div>
                  {% component "add_tagset" tags=user.blur_tags.all tagset_name="blur_tags" add_tag_enabled=True post_url="users:edit-settings" post_args=user.username / %}
                </label>
              </div>
              <div class="p-4 bg-base-300 rounded-box tooltip"
                   data-tip="Posts with the selected rating (or higher) will be blurred by default. Blurred posts can be seen by hovering over their thumbnail with the mouse or navigating to the related post's page.">
                <label>
                  <div class="flex gap-4">
                    <div class="text-lg italic opacity-60">Blur Rating</div>
                    <select name="blur_rating_level"
                            class="font-bold select select-sm text-md w-fit"
                            hx-post="{% url 'users:edit-settings' request.user %}"
                            hx-on="change"
                            hx-swap="none">
                      {% for rating_level in blur_rating_levels %}
                        <option value="{{ rating_level.value }}"
                                {% if rating_level.value == user.blur_rating_level %}selected{% endif %}>
                          {{ rating_level.name|lower|capfirst }} <span class="font-mono">({{ rating_level.value }})</span>
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                </label>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      {% if favorites_pager %}
        <label id="favorites-tab" class="flex gap-2 items-center text-lg tab group">
          <input type="radio"
                 name="profile_tabs"
                 value="favorites"
                 {% if tab == "favorites" %}checked{% endif %} />
          <div class="flex gap-2 items-center">
            {% include "icons/feather.html" with icon="heart" %}
            <div class="hidden sm:block group-has-[input:checked]:block">Favorites</div>
          </div>
        </label>
        <div class="rounded-none lg:p-6 tab-content lg:bg-base-200">
          <div class="flex flex-col gap-4">
            {% if favorites_pager.num_pages > 0 %}
              {% component "pager" with pager=favorites_pager page=favorites_page / %}
              <div class="flex flex-wrap gap-4 justify-center">{% component "post_gallery" posts=favorites_page / %}</div>
              {% component "pager" with pager=favorites_pager page=favorites_page / %}
            {% else %}
              <div class="text-lg italic">No favorites yet!</div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <label id="collection-tab" class="flex gap-2 items-center text-lg tab group">
        <input type="radio"
               name="profile_tabs"
               value="collections"
               {% if tab == "collections" %}checked{% endif %} />
        {% include "icons/feather.html" with icon="list" %}
        <div class="hidden sm:block group-has-[input:checked]:block">Collections</div>
      </label>
      <div class="p-3 rounded-none lg:p-6 tab-content lg:bg-base-200">
        <div class="flex flex-col gap-8 md:flex-row">
          <div class="grow-0">{% component "create_collection" / %}</div>
          {% partialdef collection-gallery inline %}
          <div id="user-collection-gallery"
               class="grid grid-cols-1 gap-4 w-full xl:grid-cols-2">
            {% if collections.count == 0 %}
              <div class="text-3xl italic opacity-75">No collections yet!</div>
            {% else %}
              {% for collection in collections %}
                {% component "collection_thumbnail" collection=collection %}
                {% fill "delete_button" %}
                <button type="submit"
                        class="w-20 btn btn-error"
                        hx-delete="{% url "delete-collection" collection_id=collection.pk %}"
                        hx-on="click"
                        hx-swap="outerHTML"
                        hx-target="#user-collection-gallery"
                        hx-confirm="Are you sure you want to delete this collection?">Delete</button>
              {% endfill %}
            {% endcomponent %}
          {% endfor %}
        {% endif %}
      </div>
    {% endpartialdef %}
  </div>
</div>
</div>
</div>
<script>
  let tab_buttons = document.querySelectorAll(".tabs input[name='profile_tabs']");
  tab_buttons.forEach(btn => {
    btn.addEventListener("click", e => {
      window.history.replaceState(null, "", `{{ request.path }}?tab=${btn.value}`)
    });
  });
</script>
{% endblock content %}
