{% extends "account/base_entrance.html" %}

{% load static component_tags %}

{% block title %}
  User:
  {{ object.username }}
{% endblock title %}
{% block content %}
  <div class="w-screen xl:max-w-screen xl:w-350">
    <div class="tabs">
      <label id="account-tab" class="flex gap-2 items-center text-lg tab">
        <input type="radio" name="profile_tabs" checked />
        {% include "icons/feather.html" with icon="user" %}
        Account
      </label>
      <div class="p-6 rounded-none tab-content lg:bg-base-200">
        <div>
          <div>
            <h2>{{ user.username }}</h2>
            {% if user.name %}<p>{{ user.name }}</p>{% endif %}
          </div>
        </div>
        {% if user == request.user %}
          <!-- Action buttons -->
          <div>
            <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
            <a class="btn btn-primary"
               href="{% url 'account_email' %}"
               role="button">E-Mail</a>
            <a class="btn btn-primary" href="{% url 'mfa_index' %}" role="button">MFA</a>
          </div>
          <!-- End Action buttons -->
        {% endif %}
      </div>
      {% if favorites_pager %}
        <label id="favorites-tab" class="flex gap-2 items-center text-lg tab">
          <input type="radio"
                 name="profile_tabs"
                 {% if tab == "favorites" %}checked{% endif %} />
          {% include "icons/feather.html" with icon="heart" %}
          Favorites
        </label>
        <div class="rounded-none lg:p-6 tab-content lg:bg-base-200">
          <div class="flex flex-col gap-4">
            {% if favorites_pager.num_pages > 0 %}
              {% component "pager" with pager=favorites_pager page=favorites_page / %}
              <div class="flex flex-wrap gap-4 justify-center">{% component "post_gallery" posts=favorites_page / %}</div>
              {% component "pager" with pager=favorites_pager page=favorites_page / %}
            {% else %}
              <div class="text-lg italic">No favorites yet!</div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <label id="collections-tab" class="flex gap-2 items-center text-lg tab">
        <input type="radio"
               name="profile_tabs"
               {% if tab == "collections" %}checked{% endif %} />
        {% include "icons/feather.html" with icon="list" %}
        <div>Collections</div>
      </label>
      <div class="rounded-none lg:p-6 tab-content lg:bg-base-200">
        <div class="flex flex-col gap-8 md:flex-row">
          <div class="grow-0">{% component "create_collection" / %}</div>
          <div class="grid grid-cols-1 gap-4 w-full xl:grid-cols-2">
            {% if collections|length == 0 %}
              <div class="text-lg italic">No collections yet!</div>
            {% else %}
              {% for collection in collections %}
                {% component "collection_thumbnail" collection=collection / %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
