<div class="p-4 w-full rounded-box bg-base-300 lg:w-125">
  <h2>Create a tag alias</h2>
  <form class="flex flex-wrap gap-2 w-full"
        id="create-tag-alias"
        action="{% url "create-tag-alias" %}"
        method="post">
    {% csrf_token %}
    <fieldset class="w-full fieldset">
      <legend class="fieldset-legend">
        Alias name<span class="text-warning">*</span>
      </legend>
      <input type="text" class="w-full input" name="name" placeholder="Tag alias" />
    </fieldset>
    <fieldset class="w-full fieldset">
      <legend class="fieldset-legend">
        Tag<span class="text-warning">*</span>
      </legend>
      <select class="w-full select" name="tag">
        <option disabled selected>Pick a tag</option>
        {% if tags %}
          {% for tag in tags %}<option value="{{ tag.pk }}">{{ tag.name }}</option>{% endfor %}
        {% endif %}
      </select>
    </fieldset>
    <input type="submit"
           value="Post"
           class="my-2 w-full text-xl btn btn-primary" />
    {% if form.errors %}
      <div role="alert" class="alert alert-error">
        {% include "icons/feather.html" with icon="alert-circle" %}
        {{ form.errors }}
      </div>
    {% endif %}
  </form>
</div>
