{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Collections
{% endblock title %}
{% block content %}
  {% include "heading.html" with text="COLLECTIONS" %}
  <div class="flex gap-4 justify-center py-4">
    {% component "pager" with pager=pager page=page / %}
    <div class="grid grid-cols-1 gap-4 w-full lg:grid-cols-2 xl:grid-cols-3">
      {% for collection in page %}
        {% component "collection_thumbnail" collection=collection / %}
      {% endfor %}
    </div>
    {% component "pager" with pager=pager page=page / %}
  </div>
  {% if page|length == 0 %}
    <div class="py-8 w-full text-4xl italic text-center opacity-75">No collections yet!</div>
  {% endif %}
{% endblock content %}
