{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Collection: {{ collection.name }}
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center">
    <header class="flex justify-between w-full bg-base-100">
      <div>
        <h1>{{ collection.name }}</h1>
        <p class="text-placeholder text-md">{{ collection.desc }}</p>
      </div>
      <div class="flex gap-2 items-center">
        {% if perms.tesys_tagboard.change_collection %}
          {% url "update-collection" collection_id=collection.pk as update_collection_url %}
          {% include "buttons/modal_form_edit.html" with text=_("Edit") url=update_collection_url %}
        {% endif %}
        {% if perms.tesys_tagboard.delete_collection %}
          {% url "delete-collection" collection_id=collection.pk as delete_collection_url %}
          {% include "buttons/modal_form_delete.html" with text=_("Delete") url=delete_collection_url %}
        {% endif %}
      </div>
    </header>
    <div class="flex flex-col gap-4 items-center">
      <section class="flex flex-col gap-4 items-center">
        <div class="flex flex-wrap gap-4 justify-center">{% component "post_gallery" with page=page pager=pager / %}</div>
      </section>
    </div>
  </div>
{% endblock content %}
