{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Collection: {{ collection.name }}
{% endblock title %}
{% block content %}
  <div class="flex flex-col items-center">
    <h1>{{ collection.name }}</h1>
    <aside class="text-sm opacity-50">
      {{ collection.desc }}
    </aside>
    <div class="flex flex-col gap-4 items-center">
      <section class="flex flex-col gap-4 items-center">
        {% component "pager" with pager=pager page=page / %}
        <div class="flex flex-wrap gap-4 justify-center">{% include "posts/gallery.html" with posts=page %}</div>
        {% component "pager" with pager=pager page=page / %}
      </section>
    </div>
  </div>
{% endblock content %}
