{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Posts
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-4 justify-center items-center max-w-svw">
    {% include "heading.html" with text="POSTS" %}
    <div class="inline-flex flex-wrap gap-2 items-center lg:flex-nowrap">{% component "search_bar" / %}</div>
    <form action="{% url 'posts' %}"
          method="post"
          enctype="multipart/form-data"
          class="flex flex-col gap-2 w-full align-stretch lg:max-w-250">
      {% csrf_token %}
      {% component "add_tagset" tags=tags add_tag_enabled=True / %}
      <input type="submit"
             value="Search"
             class="w-full text-xl btn btn-lg btn-primary" />
    </form>
    {% component "post_gallery" page=page pager=pager / %}
  </div>
{% endblock content %}
