{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Posts
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script defer src="{% static 'js/post.js' %}"></script>
{% endblock javascript %}
{% block content %}
  <main class="flex flex-col-reverse gap-6 lg:flex-row lg:items-start">
    <div class="w-full leading-8 post-meta-data lg:max-w-142">
      <div class="flex gap-2 items-center">
        <span class="font-bold">Title:</span>
        {% if post.title %}
          {% component "text_field_edit_toggle" input_name="title" edit_url=post_edit_url text=post.title / %}
        {% else %}
          {% component "text_field_edit_toggle" input_name="title" edit_url=post_edit_url empty_text="No title" / %}
        {% endif %}
      </div>
      <div class="flex gap-1 items-center min-w-72">
        <span class="font-bold">Uploaded by</span>
        {% include "nav/user_link.html" with user=post.uploader %}
      </div>
      <div>
        <span class="font-bold">Posted on</span> {{ post.post_date }}
      </div>
      <div>
        <span class="font-bold">Rating</span>: {{ post.get_rating_level_display }}
      </div>
      <div class="flex gap-2 items-center">
        <span class="self-start font-bold">Source:</span>
        {% if post.media.src_url %}
          {% component "text_field_edit_toggle" input_name="src_url" edit_url=post_edit_url text=post.media.src_url / %}
        {% else %}
          {% component "text_field_edit_toggle" input_name="src_url" edit_url=post_edit_url empty_text="Unknown" / %}
        {% endif %}
      </div>
      <div class="flex flex-wrap gap-1 mt-4 post-tags shrink">
        {% component "add_tagset" post=post tags=tags size="small" add_tag_enabled=True / %}
      </div>
      <div class="mt-4 mb-8">
        {% if comments_pager or request.user.is_authenticated %}<h2>Comments</h2>{% endif %}
        <div class="flex flex-col gap-4 items-stretch my-2 w-full">
          {% if request.user.is_authenticated %}
            <form class="flex flex-col"
                  method="post"
                  id="post-add-comment-form"
                  action="{% url "post-add-comment" post_id=post.pk %}">
              {% csrf_token %}
              <fieldset class="text-lg fieldset">
                <textarea maxlength="1000"
                          name="text"
                          class="w-full h-24 text-base input textarea max-h-100 focus:input-secondary focus:outline-secondary focus:outline-2"
                          placeholder="Add a comment..."></textarea>
              </fieldset>
              <input class="my-1 w-full lg:w-36 btn btn-secondary btn-lg"
                     type="submit"
                     value="Post"
                     hx-post="{% url "post-add-comment" post_id=post.pk %}"
                     hx-target="#post-comments"
                     hx-swap="innerHTML"
                     hx-confirm="Are you sure you want to post this comment?"
                     hx-on::after-request="document.querySelector('#post-add-comment-form textarea').value = ''" />
            </form>
          {% endif %}
          <div id="post-comments">
            <section class="flex flex-col gap-4 items-center w-full">
              {% include "posts/comments.html" with comments=comments_page %}
            </section>
          </div>
        </div>
      </div>
    </div>
    <section class="flex flex-col gap-2 lg:flex-col-reverse">
      <figure class="rounded-md">
        <img class="rounded-t-md {% if not post.title %}rounded-b-md{% endif %} max-h-[80svh]"
             src="{{ post.media.image.file.url }}"
             alt="{{ post.title }}" />
        {% if post.title %}<figcaption class="p-2 italic rounded-lg opacity-70">{{ post.title }}</figcaption>{% endif %}
      </figure>
      <div class="flex gap-2 items-center">
        {% if request.user.is_authenticated %}
          {% component "favorite_toggle" post=post / %}
          {% component "collection_picker" post=post / %}
        {% endif %}
      </div>
    </section>
  </main>
{% endblock content %}
