{% extends "base.html" %}

{% load component_tags %}

{% block title %}
  {{ block.super }} — Posts
{% endblock title %}
{% block content %}
  <main class="flex flex-col-reverse gap-4 lg:flex-row">
    <div class="w-full post-meta-data lg:max-w-142">
      <div class="flex gap-1 items-center min-w-72">
        <span class="font-bold">Uploaded by</span>
        {% include "nav/user_link.html" with user=post.uploader %}
      </div>
      <div>
        <span class="font-bold">Posted on</span> {{ post.post_date }}
      </div>
      <div>
        <span class="font-bold">Rating</span>: {{ post.get_rating_level_display }}
      </div>
      <div>
        <span class="font-bold">Source</span>:
        {% if post.media.src_url %}
          <a class="link" href="{{ post.media.src_url }}">{{ post.media.src_url }}</a>
        {% else %}
          Unknown
        {% endif %}
      </div>
      <div class="flex flex-wrap gap-1 mt-4 post-tags shrink">
        {% for tag in tags %}
          {% component "tag" tag=tag size="small" / %}
        {% endfor %}
      </div>
      {% if comments %}
        <div class="mt-4 mb-8">
          <h2>Comments</h2>
          <div class="flex flex-col gap-1 w-full lg:w-100">
            {% for comment in comments %}
              <div class="p-1 border-2 border border-info bg-base-300">{{ comment.text }}</div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    <figure class="self-center rounded-md bg-base-300">
      <img class="rounded-t-md max-h-[80svh]"
           src="{{ post.media.image.file.url }}"
           alt="{{ post.title }}" />
      {% if post.title %}<figcaption class="p-2 italic rounded-lg opacity-70">{{ post.title }}</figcaption>{% endif %}
    </figure>
  </main>
{% endblock content %}
