{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Posts
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-4 justify-center items-center max-w-svw">
    {% include "heading.html" with text="POSTS" %}
    <form action="{% url 'posts' %}"
          method="post"
          enctype="multipart/form-data"
          class="flex flex-col gap-2 w-full align-stretch lg:max-w-250">
      {% csrf_token %}
      {% component "add_tagset" tags=tags add_tag_enabled=True / %}
      <input type="submit"
             value="Search"
             class="w-full text-xl btn btn-lg btn-primary" />
    </form>
    <section class="flex flex-col gap-4 items-center w-full">
      {% component "pager" pager=pager page=page / %}
      {% component "post_gallery" posts=page / %}
      {% component "pager" pager=pager page=page / %}
    </section>
  </div>
{% endblock content %}
