{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Posts
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-4 justify-center items-center max-w-svw">
    <form action="{% url 'posts' %}"
          method="post"
          enctype="multipart/form-data"
          class="flex flex-col gap-2 w-full align-stretch lg:max-w-250">
      <input type="submit"
             value="Search"
             class="w-full text-xl btn btn-lg btn-primary" />
      {% csrf_token %}
      {% component "add_tagset" tags=tags add_tag_enabled=True size="large" / %}
    </form>
    <section class="flex flex-col gap-4 items-center w-full">
      {% component "pager" with pager=pager page=page / %}
      {% include "posts/gallery.html" with posts=page %}
      {% component "pager" with pager=pager page=page / %}
    </section>
  </div>
{% endblock content %}
