{% extends "base.html" %}

{% load component_tags %}

{% block title %}
  {{ block.super }} — Upload
{% endblock title %}
{% block content %}
  <div class="hidden">
    <!--
    Dummy tag to load Tag-related JS. This is necessary for Tags to properly execute
    their click actions. Otherwise, tags loaded in via the `add_tagset` component
    won't be interactive
     -->
    {% component "tag" / %}
  </div>
  {% include "heading.html" with text="Upload" %}
  <div class="flex gap-4 justify-center">
    <form action="{% url 'upload' %}"
          method="post"
          enctype="multipart/form-data"
          class="flex flex-col gap-4 p-8 w-full rounded-lg lg:w-1/2 bg-base-300 sm:min-w-[450px] lg:max-w-[800px]">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <fieldset class="fieldset">
        <legend class="fieldset-legend">
          Pick a file<span class="text-warning">*</span>
        </legend>
        <input type="file" name="file" class="w-full file-input file-input-lg" />
        <label class="label">Supported file types: PNG, JPEG, BMP, GIF, WebP</label>
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Source</legend>
        <label class="w-full input validator">
          {% include "icons/feather.html" with icon="link" %}
          <input name="src_url"
                 type="url"
                 placeholder="https://"
                 value=""
                 pattern="^(https?://)?([a-zA-Z0-9]([a-zA-Z0-9\-].*[a-zA-Z0-9])?\.)+[a-zA-Z].*$"
                 title="Must be valid URL" />
        </label>
        <p class="hidden validator-hint">Must be valid URL</p>
      </fieldset>
      <fieldset class="w-full fieldset">
        <legend class="fieldset-legend">Rating</legend>
        <select class="w-full select" name="rating_level">
          <option disabled selected value="1">Pick a rating level</option>
          {% for rating_level in rating_levels %}
            <option value="{{ rating_level.0 }}">{{ rating_level.1 }} ({{ rating_level.0 }})</option>
          {% endfor %}
        </select>
      </fieldset>
      <div id="all-posts-tagset" class="flex">
        {% component "add_tagset" autocomplete_url="tag-autocomplete" add_tag_enabled=True post_url="upload" / %}
      </div>
      <input type="submit" value="Post" class="text-xl btn btn-primary" />
      {% if form.errors %}
        <div role="alert" class="alert alert-error">
          {% include "icons/feather.html" with icon="alert-circle" %}
          {{ form.errors }}
        </div>
      {% endif %}
    </form>
  </div>
{% endblock content %}
